---
- hosts: all
  become: yes
  tasks:
  - name: installing jdk8 on node1
    apt:
      name: openjdk-8-jre-headless
      state: present
    when: ansible_os_family == "Debian"

  - name: installing jdk8 on node2
    yum:
      name: java-1.8.0-openjdk
      state: present
    when: ansible_os_family == "RedHat"
