--- 
- hosts: ubuntuos
  become: yes
  tasks:
  - name: installing apache2 webserver
    apt:
      name: apache2
      state: present

  - name: start the service
    service:
      name: apache2
      state: started
      
  - name: to copy index file into nodes
    template:
      src: /home/srikanth/myindex.j2
      dest: /var/www/html/index.html

  - name: to restart the webserver
    service: 
      name: apache2  
      state: restarted  